URxvt.foreground: white
URxvt.background: black

URxvt.scrollBar: false

!URxvt.color0: #3f3f3f
!URxvt.color1: #c44444
!URxvt.color2: #3aaf75
!URxvt.color3: #dfaf8f
!URxvt.color4: #9ab8d7
!URxvt.color5: #dc8cc3
!URxvt.color6: #8cd0d3
!URxvt.color7: #dcdcdc
!URxvt.color8: #709080
!URxvt.color9: #dca3a3
!URxvt.color10: #72d5a3
!URxvt.color11: #f0dfaf
URxvt.color12: #94bfff
!URxvt.color13: #ec93d3
!URxvt.color14: #93e0e3
!URxvt.color15: #ffffff

!https://github.com/bytensky/knxt
URxvt.font: -k-knxt-medium-r-normal--20-200-72-72-c-100-iso10646-1
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:


